fastapi
uvicorn[standard]
python-jose[cryptography]
passlib[bcrypt]>=1.7.4
bcrypt>=4.0.1
# psycopg2-binary # Removed for libSQL
SQLAlchemy
libsql-client # Added for libSQL
sqlalchemy-libsql # Correct package for SQLAlchemy libSQL dialect
python-dotenv
pydantic-settings 
pydantic[email]
python-multipart
minio
typer